body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightslategray;
}
.stopwatch-container { text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    max-width: 350px;
    width: 100%;
    margin: 0 auto;


}
.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 300px;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.timer-display {
    font-size: 60px;
    color: #333;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startBtn {
    background-color: #28a745;
    color: #fff;
}

#pauseBtn {
    background-color: #ff9800;
    color: white;
}

#resetBtn {
    background-color: #f44336;
    color: white;
}
#continueBtn { background-color: #3639f4;
    color: white;

}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/*hover effect */
button:hover {transform: scale(1.05);

}
#startBtn:hover {
    background-color:  #218838;
}
#pauseBtn:hover {
    background-color:  #e0a800;
}
#resetBtn:hover {
    background-color:  #c82333;
}

button:active {transform: scale(0.98);}
button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .stopwatch {
        width: 90%;
    }
    #timer {
        font-size: 36px;
    }
    button {font-size: 16px;
    padding: 12px 18px;}
}