body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #198b8b, #12465a, rgb(10, 107, 167));

}

.stopwatch-container { text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
#stopwatch-container:hover {box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
@keyframes blink {
    0% { opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {transform: translateY(-20PX);}
    100% {transform:translateY(0) ;}
}
.blink-heading{animation: blink 2s infinite ,moveUpDown 3s infinite;}
.stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 300px;
}

#timer {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    animation: fade-in 0.5ss ease;
}
.timer-display {
    font-size: 60px;
    color: #333;
    letter-spacing: 3px;
    margin-bottom: 30px;
   
}
@keyframes fade-in {
    0%{opacity: 0;
        transform:translateY(-10px) ;}
        100% {
            opacity: 1;
            transform: translateY(0);
        }
}
.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s , transform 0.2s;
}
button:active {transform: scale(0.95);}

#startBtn {
    background-color:  rgb(10, 107, 167);
    color: #fff;
}

#pauseBtn {
    background-color: #12465a;
    color: white;
}

#resetBtn {
    background-color: #12465a;
    color: white;
}
#continueBtn { background-color:#12465a;
    color: white;

}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/*hover effect */
button:hover {transform: scale(1.05);

}
#startBtn:hover {
    background-color:   rgb(10, 107, 167);
}
#pauseBtn:hover {
    background-color:  #198b8b;
}
#resetBtn:hover {
    background-color: #198b8b;
}

button:active {transform: scale(0.98);}
button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .stopwatch {
        width: 90%;
    }
    #timer {
        font-size: 36px;
    }
    button {font-size: 16px;
    padding: 12px 18px;}
}